{%load static%}
<html>
<head>
<title>ad admission page</title>
<link rel="stylesheet" href="{%static "stylesheets/home.css" %}">
</head>
<body>
<h1>HOME PAGE</h1>
<div class= 'module'>
    <h1>ADMISSONS</h1>
    <a href="ad/createadmission"><button type = 'button' name = "button">add admission</button></a><br>
    <a href="ad/viewadmission"><button type = "button" name = "button">view admission</button></a><br>
</div>
<div class= 'module'>
    <h1>FINANCE</h1>
    <a href="fin/paybill"><button type = 'button' name = "button">paybill</button></a><br>
    <a href="fin/due"><button type = "button" name = "button">viewbill</button></a><br>
</div>
</body>
</html>